body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  max-width: 900px;
}

h1,
h2 {
  color: #333;
}

#start-title {
  font-size: 3vh;
}

.heading {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 2.5vh;
}

.start-content {
  text-align: left;
  font-size: 2vh;
  line-height: 1.2;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#start-button {
  background-color: #014421;
  color: white;
}

#start-button:hover {
  background-color: #45a049;
  font-weight: bold;
}

#guess-button,
#steal-button,
#reset-button {
  background-color: #014421;
  color: white;
}

#pause-button {
  background-color: darkslategray;
  color: white;
}

#pause-button:hover {
  background-color: slategray;
  color: white;
  font-weight: bold;
}

#guess-button:hover,
#steal-button:hover {
  background-color: #45a049;
  font-weight: bold;
}

#skip-button {
  background-color: black;
  color: white;
}

#skip-button:hover{
  background-color: steelblue;
  color: white;
  font-weight: bold;
}

#reset-button {
  background-color: #7b1113;
  color: white;
}

#reset-button:hover {
  background-color: #da190b;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.score-board {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  margin-top: 20px;
  
}

.timer {
  font-size: 2em;
  margin: 20px 0;
  color: #555;
}

.hidden {
  display: none;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
  padding: 10px;
}

.timer-warning {
  color: red;
  font-weight: bold;
}

#board-p1 {
  background-color: purple;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}

#board-p2 {
  background-color: darkorange;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}

.player1 { color: purple; }
.player2 { color: darkorange; }

#guess-input {
  border: solid 1px black;
  
  width: 50%;
}

#reset-win-page-button:hover{
  background-color: black;
  color: white;
  font-family: bold;
}