body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 900px;
}

h1,
h2 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#start-button {
  background-color: #014421;
  color: white;
}

#start-button:hover {
  background-color: #45a049;
}

#guess-button,
#steal-button,
#reset-button {
  background-color: #014421;
  color: white;
}

#pause-button {
  background-color: darkorange;
  color: black;
}

#pause-button:hover {
  background-color: orange;
  color: white;
}

#guess-button:hover,
#steal-button:hover {
  background-color: #45a049;
}

#skip-button {
  background-color: black;
  color: white;
}

#skip-button:hover{
    background-color: gray;
  color: white;
}

#reset-button {
  background-color: #7b1113;
  color: white;
}

#reset-button:hover {
  background-color: #da190b;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.score-board {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  margin-top: 20px;
}

.timer {
  font-size: 2em;
  margin: 20px 0;
  color: #555;
}

.hidden {
  display: none;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
  padding: 10px;
}

.timer-warning {
  color: red;
  font-weight: bold;
}